.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.container {
  height: 100vh;
  background-color: rgb(221, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61dafb;
}

.admin-card {
  background: #0f1c2e;
  width: 460px;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  text-align: center;   
}

.admin-card h2 {
  color: #eff3f4;
  margin-bottom: 25px;  
}

.admin-card input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #61dafb ;
  padding: 10px 5px;
  margin-bottom: 20px;
  color: white;
  outline: none;
}

.admin-card input::placeholder {
  color: #bbb;
}

.admin-card button {
  width: 80px;
  padding: 6px;
  background: transparent;
  border: 1px solid #61dafb;
  color: #00e5e5;
  cursor: pointer;
  font-size: 12px;
  float: right;
}

.admin-card button:hover {
  background: #00e5e5;
  border-color: #eceff0;
  color: #0f1c2e;
}




/* .container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}


.card {
  width: 300px;
  padding: 30px;
  background: white;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.buttons {
  margin: 20px 0;
}

button {
  padding: 10px 15px;
  margin: 0 8px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4ab2d5;
  color: white;
}


.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #4caf50;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  margin: auto;
} */




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
